<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BrawijayaPreneur</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/icon.png" rel="icon">
  <link href="/img/icon.png" rel="apple-touch-icon">


  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/indexstyle.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <div class="logo me-auto">
        <a href="index.hbs"><img src="/img/logoBP.png" ></a>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#tentang">Services</a></li>
          <li><a class="nav-link scrollto" href="#advantage">Advantage</a></li>
          <li><a class="nav-link scrollto" href="#event">Event</a></li>
          <li><a class="nav-link scrollto" href="#kontak">Contact</a></li>
          <!-- <li><a class="nav-link scrollto" href="#card">Card</a></li> -->
          {{!-- <li><a class="carousel-content scrollto px-3 loginan" href="/login">Log in</a></li> --}}
          <li>
            <a class="carousel-content scrollto px-3 loginan" href="" id="nameElement">
              <img src="/img/profile.svg" width="20px" style="margin-right: 10px;" class="oop" alt="" srcset="">
            </a>
          </li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>


        <!-- Slide 1 -->
        <div class="carousel-item active " style="background-color: #0F1620;">
          <div class="carousel-container">
            <div id="particles-js"></div>
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Igniting youth innovation through entrepreneurship guidance, <br>resources, and collaboration at Brawijaya University</h2>
              <h4 class="animate__animated animate__fadeInUp">Dengan visi untuk meningkatkan wirausaha muda di Universitas Brawijaya.</h4>
              <div>
                <a href="#tentang" class="btn-menu animate__animated animate__fadeInUp scrollto mb-2">Consult Now</a>

                <a href="#tentang" class="btn-menu animate__animated animate__fadeInUp scrollto">Sign up your business</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= Tentang Section ======= -->
    <section id="tentang" class="tentang"  style="background-color: #3672CD;">
      <div class="container-fluid" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-12 d-flex flex-column justify-content-center align-items-stretch">
            <div class="content">
              <h2 style="text-align: center; color: white;">Are you ready to take your business idea to the next level? <br> BrawijayaPreneur is here to guide you every step of the way!</h2>
              
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Tentang Section -->

    <!-- ======= Visi & Misi Section ======= -->
    <section id="visi-misi" class="visi-misi section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2><span> Brawijayapreneur</span> Services</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 ">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <!-- <span><img src="/img/BP HUB.png" width="300px"></span> -->
              <h4>BRAWIJAYAPRENEUR HUB</h4> 
              <p>sebuah komunitas wirausaha untuk diskusi terkait bisnis dan akan diberikan materi khusus setiap minggu nya.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h4>BRAWIJAYAPRENEUR ARTICLE</h4> 
              <p>sebuah artikel berisi analisa terhadap bisnis orang lain yang dapat diambil pelajaranya.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <!-- <span><img src="/img/wish-list.png"></span> -->
              <h4>BRAWIJAYAPRENEUR EVENT</h4>
              <p>sebuah rangkaian event dengan timeline dan kurikulum yang dirancang untuk membangun bisnis dari 0.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-10">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <!-- <span><img src="/img/wish-list.png"></span> -->
              <h4>BRAWIJAYAPRENEUR PARTNERSHIP</h4>
              <p>sebuah kerjasama dengan brawijayapreneur dalam berbagai bentuk untuk meningkatkan jejaring bisnis</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-10">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <!-- <span><img src="/img/wish-list.png"></span> -->
              <h4>BRAWIJAYAPRENEUR CONSULTANT</h4>
              <p>sebuah layanan yang dihadirkan untuk dapat berkonsultasi dalam berbagai bidang</p>
            </div>
          </div>


        </div>

      </div>
    </section>
    <!-- Visi & Misi Section -->

    <!-- ======= Jasa Section ======= -->
    <section id="jasa" class="jasa">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Two Way BrawijayaPreneur</h2>
          <p>Get to know our recommendation.</p>
        </div>

        <div class="row">

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box featured">
              <img src="/img/person 2.png" class="img-fluid" alt="">
              <h3>Baru Ingin Buka Bisnis</h3>
            
              <ul>
                <li><i class="bx bx-check"></i> Belum punya bisnis</li>
                <li><i class="bx bx-check"></i> Sedang Merintis Bisnis</li>
                <li><i class="bx bx-check"></i> Ingin belajar bisnis</li>
                <li><i class="bx bx-check"></i> Tidak memiliki dasar kewirausahaan</li>
                <li><i class="bx bx-check"></i> Ingin memulai usaha sendiri</li>
              </ul>
              <h4><b>Recommendation:</b></h4>
              <img src="/img/belum punya bisnis.png" class="img-fluid mt-2 w-50" alt="">
              <!-- <a href="https://wa.me/6282125664554" class="buy-btn"><i class="bi bi-whatsapp"></i> Hubungi Kami</a> -->
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0 " data-aos="zoom-in" data-aos-delay="200">
            <div class="box featured">
              <img src="/img/person 1.png" class="img-fluid" alt="">
              <h3>Sudah punya bisnis</h3>
              <ul>
                <li><i class="bx bx-check"></i> sudah memiliki bisnis</li>
                <li><i class="bx bx-check"></i> ingin belajar kelola dan scale up bisnis</li>
                <li><i class="bx bx-check"></i> memiliki pengetahuan bisnis</li>
                <li><i class="bx bx-check"></i> ingin membuka cabang baru</li>
                <li><i class="bx bx-check"></i> ingin meningkatkan saham atau valuasi bisnis</li>
                <li><i class="bx bx-check"></i> ingin meningkatkan omset bisnis</li>
              </ul>
              <h4><b>Recommendation:</b></h4>
              <img src="/img/sudah punya.png" class="img-fluid mt-2 w-50" alt="">
              <!-- <a href="https://wa.me/6282125664554" class="buy-btn"><i class="bi bi-whatsapp"></i> Hubungi Kami</a> -->
            </div>
          </div>

          <!-- <div class="col-lg-4 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="box featured">
              <img src="/img/3.png" class="img-fluid" alt="">
              <h3>Digital Marketing & Advertising</h3>
              <p>Dapatkan pelanggan baru dan penjualan lebih banyak dengan bantuan layanan pemasaran online atau Digital
                Marketing & Advertising sesuai anggaran pemasaran, target market, dan jangkauan wilayah usaha Anda.</p>
              <ul>
                <li><i class="bx bx-check"></i> Tiktok Ads</li>
                <li><i class="bx bx-check"></i> Google Search Ads</li>
                <li><i class="bx bx-check"></i> GDN & Youtube Ads</li>
                <li><i class="bx bx-check"></i> Facebook & Instagram Ads</li>
                <li><i class="bx bx-check"></i> Search Engine Optimization</li>
              </ul>
              <a href="https://wa.me/6282125664554" class="buy-btn"><i class="bi bi-whatsapp"></i> Hubungi Kami</a>
            </div>
          </div>

        </div> -->

      </div>
    </section>

    <!-- End Jasa Section -->

    <!-- ======= Team Section ======= -->
    <!-- <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Our <span>Team</span></h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="/img/people/aldi.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Aldi Ramdani</h4>
                <span>Mobile Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="/img/people/dadang.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dadang Darsono</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="/img/people/gilbert.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Gilbert Hutapea</h4>
                <span>Full Stack Developer</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Team Section -->

      <!-- ======= Hero 2 Section ======= -->
      <p id="advantage" style="background-color: #292828 !important;"></p>
      <section id="hero">
    
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <!-- <ol class="carousel-indicators" id="hero-carousel-indicators"></ol> -->


        <!-- Slide 1 -->
        <div class="carousel-item active " style="background-color: #464646;">
          <div class="carousel-container">
            <div id=" particles-js"></div>
            
            <div class="col-6 kirian">
              <img src="/img/ADVANTAGES.png" class="w-75 advantagedam" alt="" srcset="">
            </div>

            <div class="col-6">
              <h2 class="animate__animated animate__fadeInDown"><span>Wadah Belajar 
                Bisnis Paling Keren</span> di Universitas Brawijaya</h2>
              <h4 class="animate__animated animate__fadeInUp">Dalam Brawijayapreneur anda tidak hanya belajar teori bisnis namun akan didampingin dalam mempratekkan dan menjalankan bisnis kalian. 
                <br> <br>
                Brawijayapreneur juga akan terus memberikan pengetahuan dan keterampilan dalam bisnis yang menunjang pengelolaan bisnis kalian</h4>
              <div>
                <!-- <a href="#tentang" class="btn-menu animate__animated animate__fadeInUp scrollto mb-2">Consult Now</a>

                <a href="#tentang" class="btn-menu animate__animated animate__fadeInUp scrollto">Sign up your business</a> -->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->

      <!-- ======= Hero 3 Section ======= -->
      
      <section id="hero">
        <section id="event" style="all: unset; margin: 0;"></section>
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        
        <div class="carousel-item active" style="background-color: #464646;">
          <div class="carousel-container">
            <div id=" particles-js"></div>
            
           

            <div class="col-3 kirian">
              <!-- <img src="/img/garis.png" class="h-75 pl-3 advantagedam" alt="" srcset=""> -->
            </div>

            <div class="col-12 " id="">
              <img src="/img/event dar.png" width="50%" class="mb-2" alt="" srcset="">
              <h2 class="animate__animated animate__fadeInDown"><span>Chapter one :</span> How to build your business</h2>
              <h2 class="animate__animated animate__fadeInDown"><span>Chapter two :</span> How to maintain and growth your business</h2>
              <h2 class="animate__animated animate__fadeInDown"><span>Chapter three :</span> How to scale up your busines</h2>
             
              <div>
                <!-- <a href="#tentang" class="btn-menu animate__animated animate__fadeInUp scrollto mb-2">Consult Now</a>

                <a href="#tentang" class="btn-menu animate__animated animate__fadeInUp scrollto">Sign up your business</a> -->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->

     <!-- ======= Tentang Section ======= -->
     <section id="tentang" class="tentang"  style="background-color: #3672CD;">
      <div class="container-fluid" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 d-flex flex-column justify-content-center align-items-stretch">
            <div class="content">
              <h2 style="text-align:left; color: white;">Together, Let's Make a Change!</h2>
              
            </div>
          </div>

          <div class="col-lg-3 d-flex flex-column justify-content-center align-items-stretch">
            <div class="content">
              <!-- <h2 style="text-align: center; color: white;">Are you ready to take your business idea to the next level? <br> BrawijayaPreneur is here to guide you every step of the way!</h2> -->
            <a class="carousel-content scrollto px-3 loginan" href="#login">Join Now</a>  
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Tentang Section -->


    <!-- ======= Testimonials Section ======= -->
    <!-- <section id="testimonials" class="testimonials">
      <div class="container position-relative">

        <div class="section-title" data-aos="fade-down">
          <h2>What Our <span>Customers</span> are Saying</h2>
          <p>" Kepuasan Pelanggan Adalah Prioritas Utama Kami "</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Virgie</h3>
                <h4>CEO Belly.com</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  their way is so innovative and i believe you will could increase your business
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
            

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Irza</h3>
                <h4>CEO Brawloka</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I was instantly blown away by their analysis
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
            

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Aqil</h3>
                <h4>CEO E-Merch</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  literally good
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
            

    

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section> -->
    <!-- End testimonial item -->

    <!-- ======= Kontak Section ======= -->
    <section id="kontak" class="kontak">
      <div class="container" data-aos="fade-up">

        <div class="section-kontak" data-aos="fade-up">
          <h2><span>Get </span> In Touch <span>With Us</span></h2>
        </div>
      </div>

      <div class="container mt-5" data-aos="fade-up">

        <div class="info-wrap">
          <div class="row">
            <div class="col-lg-4 col-md-6 info">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Jl. Veteran, Ketawanggede, Kec. Lowokwaru, Kota Malang, Jawa Timur 65145</p>
            </div>
<!-- 
            <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
              <i class="bi bi-clock"></i>
              <h4>Buka Jam:</h4>
              <p>Senin-Minggu:<br>08:00 AM - 21:00 PM</p>
            </div> -->

            <div class="col-lg-4 col-md-6 info mt-4 mt-lg-0">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>brawijayapreneurofficial@gmail.com
              </p>
            </div>

            <div class="col-lg-4 col-md-6 info mt-4 mt-lg-0">
              <i class="bi bi-phone"></i>
              <h4>WhatsApp</h4>
              <p>+62 xxx xxxx xxxx</p>
            </div>
          </div>
        </div>

        <!-- <form action="forms/index.js" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Nama" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
            </div>
          </div>
          <div class="form-group mt-3">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subjek" required>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Pesan" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form> -->

        <!-- <div class="map" data-aos="fade-up">
          <iframe style="position: relative; overflow: hidden; width: 100%; height: 350px;"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1982.0755787971573!2d107.18342765467808!3d-6.502541033648055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69a301d97ff30d%3A0x6f9f631c77f0b2b0!2sMSN%20Production!5e0!3m2!1sen!2sid!4v1673858493264!5m2!1sen!2sid"
            frameborder="0" allowfullscreen></iframe>
        </div> -->

      </div>

    </section>
    <!-- End Kontak Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <a href="/index"><img src="/img/logoBP.png" width="200px" ></a>
            
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4 data-aos="fade-down">Links</h4>
            <ul>
              <li data-aos="fade-right"><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li data-aos="fade-right"><i class="bx bx-chevron-right"></i> <a href="#tentang">Advantage</a></li>
              <li data-aos="fade-right"><i class="bx bx-chevron-right"></i> <a href="#jasa">Vision & Mission</a></li>
              <li data-aos="fade-right"><i class="bx bx-chevron-right"></i> <a href="#team">Contact</a></li>
             
            </ul>
          </div>



          <div class="col-lg-3 col-md-6 footer-links">
            <h4 data-aos="fade-down">Social Media</h4>
            <div class="social-links mt-3">
              
              <a href="https://instagram.com/brawijayapreneur" class="instagram" data-aos="fade-down"
                data-aos-delay="200"><i class="bx bxl-instagram"></i></a>
              <!-- <a href="https://twitter.com/MSN_Production " class="twitter" data-aos="fade-up" data-aos-delay="200"><i
                  class="bx bxl-twitter"></i></a> -->
              <!-- <a href="https://youtube.com/channel/UC9csT5foGxgj5LSAXhVLy9w" class="youtube" data-aos="fade-down"
                data-aos-delay="200"><i class="bx bxl-youtube"></i></a> -->
              <a href="#" class="whatsapp"
                data-aos="fade-up" data-aos-delay="200"><i class="bx bxl-whatsapp"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div id="garis-putih-panjang"></div>
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright 2023, Brawijayapreneur
      </div>
    </div>
  </footer><!-- End Footer -->


  <div id="preloader"></div>

  
  <div id="popup">
    <button id="close">&times;</button>
    <img src="/img/maret.png
      " alt="Iklan">
  </div>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>




  <!-- Vendor JS Files -->
  <script src="/vendor/particle-js/particles.js"></script>
  <script src="/vendor/particle-js/app.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/indexmain.js"></script>
  <script>
  fetch('http://localhost:5000/api/auth/verify')
  .then(response => response.json())
  .then(data => {
    const store = {
      name: data.data.name
    };

    // Mengakses data yang diterima dari backend
    const nameElement = document.getElementById('nameElement');
    nameElement.textContent = store.name;
    
    // Melakukan tindakan atau memperbarui tampilan dengan data yang diterima
  })
  .catch(error => {
    console.error('Error:', error);
    // Menangani kesalahan jika terjadi masalah saat mengambil data dari backend
  });


  </script>

</body>

</html>